--- 
title: Code Examples
---

<h2>Python Scripts</h2>
<ul>
    <li><%= link_to 'my_first_script.py', '/code/my_first_script.py' %></li>
    <li><%= link_to 'my_second_script.py', '/code/my_second_script.py' %></li>
    <li><%= link_to 'text_mining.py', '/code/text_mining.py' %></li>
</ul>

<h2>Data Sets</h2>
<ul>
    <li><%= link_to 'search_results.json', '/code/search_results.json' %></li>
    <li><%= link_to 'text_results.txt', '/code/text_results.txt' %></li>
    <li><%= link_to 'word_frequencies.csv', '/code/word_frequencies.csv' %></li>
</ul>   
