		<section id="sidebar">
			<h2>Modules</h2>
			<ul>
			<li><%= link_to 'Installation', '/modules/installation.html' %></li><li><%= link_to 'Working with your Computer', '/modules/module01.html' %></li>
			<li><%= link_to 'Thinking about Data', '/modules/module02.html' %></li>
			<li><%= link_to 'Getting Data', '/modules/module03.html' %></li>
			<li><%= link_to 'Working with the API', '/modules/module04.html' %></li>
			<li><%= link_to 'Writing Script Files', '/modules/module05.html' %></li>
			<li><%= link_to 'Phase Two', '/modules/module06.html' %></li>
			<li><%= link_to 'Using Functions and Loops', '/modules/module07.html' %></li>
			<li><%= link_to 'Using While-Loops', '/modules/module08.html' %></li>
			<li><%= link_to 'Writing Results to File', '/modules/module09.html' %></li>
			<li><%= link_to 'Working with Local Data', '/modules/module10.html' %></li>
			<li><%= link_to 'Gathering a Subset of Data', '/modules/module11.html' %></li>
			<li><%= link_to 'Analyzing a Subset of the Data', '/modules/module12.html' %></li>
			<li><%= link_to 'Saving Results to a File', '/modules/module13.html' %></li>
			</ul>
		</section>
